server:
  port: 8080

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

app:
  jwt:
    secret: ${JWT_KEY}
    expiration-minutes: 240
  admin:
    email: ${ADMIN_EMAIL}
    password: ${ADMIN_PASSWORD}
